# Veritabani Baglantisi
# SQLite icin:
# DATABASE_URL=sqlite:///exam_system.db

# MySQL icin:
# DATABASE_URL=mysql://kullanici:sifre@localhost/veritabani_adi
DATABASE_URL=mysql://root:YOUR_PASSWORD@localhost/exam_system

# JWT Secret Key (degistirin!)
JWT_SECRET_KEY=your-secret-key-change-this

